/****************************************
        Utils 
****************************************/
.width-50{
    width:50%;
}
.width-30{
    width:30%;
}
.width-10{
    width:10%;
}
.mrg-tb-10{
    margin: 10px 0;
}
.mrg-tb-5{
    margin: 5px 0;
}
.pddng-5{
    padding:5px;
} 
.pddng-10{
    padding:10px;
}
 
/***************************************
        Template
***************************************/

body{
        font-size: 16px;
        line-height: 1.618em;
        padding: 2rem;
        font-weight: 400;
        
    }

footer{
    margin-top: 60px;
}

/**************************************
        Individual Styles
***************************************/

.contact_input_header {
    display: block;
    border: none;
    width: 40%;
    padding-left:20px;
    font-size: 1rem;
    background-color: #fff;
    border-color: #dbdbdb;
    color: #363636;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.contact_input_body {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid transparent;
    width: 100%;
    padding-left:40px;
    font-size: 1rem;
    background-color: #fff;
    border-color: #dbdbdb;
    color: #363636;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#save_button:disabled{
   color: #3273dc;
    background-color: white;
}

#save_button{
    background-color: #3273dc;
    color: white;
    border: none;
        cursor: pointer;
    font-size: 16px;
        border-right: solid 2px rgba(10,10,10,.1);
    

}

#new_contact{
    width:50%; margin: auto;
}

/**************************************
            Media Queries
***************************************/


@media only screen and (max-width: 800px) {
    #new_contact{
    width:75%; 
}
}


@media only screen and (max-width: 600px) {
    #new_contact{
    width:100%; 
}
}











